@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
}
ul li{
    list-style: none;
}
h1{
    font-weight: normal;
    font-size: normal;
}
h2{
    font-weight: normal;
    font-size: normal;
}

/* 로고 설정 */
.logo{
    font-size: 30px;
    font-weight: bold;
}

/* 메뉴 설정 */
.menu ul{
    display: flex;
}
.box2{
    background-color:#7cbac1;
    margin-bottom: 10px;
}
.menu ul li {
    font-size: 14px;
    padding: 15px;
}
.menu ul li a{
    display: block;
}


/* 호버하기 */
.menu ul li:hover{
    background-color: #75dbe7;
}


/* 박스3,4 가로 정렬 */
.boxA{
    display: flex;
}


/* 박스1 간격조절 */
.box1{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 박스3 간격조절 */
.box3{
    margin-top: 20px;
    margin-bottom: 40px;
}
.main1 h1{
    margin-bottom: 20px;
}
img{
    margin-bottom: 10px;
}
.main1 p{
    margin-bottom: 10px;
}
.main2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.main2 p{
    margin-top: 10px;
}
.main3 p{
    margin-top: 10px;
}


/* 박스4 간격조절 */
.box4{
    margin-top: 20px;
    margin-bottom: 40px;
}
.box4 h1{
    margin-bottom: 10px;
}
.news1{
margin-bottom: 40px;
}
.news2{
    margin-bottom: 40px;
}
.news3{
    margin-bottom: 40px;
}


/* 박스5 간격조절 */
.copyright{
    margin-top: 10px;
} 
.box5{
    margin-top: 20px;
}

/* 박스 3,4 간격 조절 */
.box3{
    padding-right: 50px;
}






/* h1 글씨크기 조절 */
.main1 h1{
    font-weight: bold;
    font-size: 35px;
}


/* 박스 4 h1 글씨크기 조절 */
.box4 h1{
    font-weight: bold;
    font-size: 20px;
    color:#555;
}


/* 박스 4 선 설정 */
.box4 h1{
    border-bottom: 1px dotted #ddd;
}



/* 이미지 크기 조절 */
img{
    max-width:100%;
}


/* 푸터조절 */
.box5{
    border-top:1px solid #ccc;
}



/* 박스3 선넣기 */
h2{
    border-left:10px solid #7cbac1;
}

/* 줄바꿈 되게 하지 않기 */

.news1 ul li a{
    display: block;
}
.news2 ul li a{
    display: block;
}
.news3 ul li a{
    display: block;
}


/* 줄여도 크기 조절해보기 */
.box1, .boxA, .menu, .copyright {
    width: 1000px;
    margin: 0 auto;
}