/* 유니코드 설정 */
@charset 'utf-8';

/* 전체설정 */
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* header 설정 */
.header{
    width: 100%;
    height: 120px;
    background-color: #f6f5ef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 9999;
    /* 겹쳐져있는 애들이 위로 올라오라고 */

    opacity: 0.5;
    left: 0;
    top: 0;
}
/* position은 요소위에 요소를 겹칠 수 있음
바디 기준 */
.logo{
    width: 75px;
    height: 75px;
    background-image: url(https://www.starbucks.co.kr/common/img/common/logo.png);
    text-indent: -9999px;
}
.gnb{
    width: 70%;
}
.gnb ul{
    display: flex;
    justify-content: space-between;
}
.gnb ul li{
    padding: 0 10px;
}

/* 비쥬얼설정 */
.visual{
    width:100%;
    height: 640px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring2_promotion_bg_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 120px;
    z-index: 1;
}

/* 비쥬얼 내부에 이미지 이동하기 러브 어스 릴레티브 엡솔루트 */
.visual{
    position: relative;
}
.love{
    position: absolute;
    top:40%;
    left:150px;
}
/* 이미지 사이즈가 318임 3개의 이미지중에 가운데에 올 사진부터 기준점으로 두면 됨*/
.drink1{
    position: absolute;
    left: 50%;
    margin-left: -120px;
    bottom: 5%;
}
.drink2{
    position: absolute;
    left: 50%;
    margin-left: -420px;
    
}
.drink3{
    position: absolute;
    left: 50%;
    margin-left: 100px;
}

/* 텍스트 박스 설정 */
.txtbox{
    width: 100%;
    height: 64px;
    display: flex;
}
.txtbox article{
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtbox .notice{
    background-color: black;
    color:#fff;
}
.txtbox .promo{
    background-color: #f6f5ef;
}

/* 리워드설정 */
.rewards{
    width: 100%;
    height: 320px;
    background-color: #1e3932;
    position: relative;
}
.logo2{
    position: absolute;
    left: 25%;
    top: 10%;
}
.season{
    height: 640px;
    width: 100%;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring_promotion_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.blend{
    position: absolute;
    left: 30%;
}
.costa{
    height:320px;
    width: 100%;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/230125_pc_reserve_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.r{
    position: absolute;
    top: -15%;
    left: 10%;
}
.pick{
    height: 800px;
    width: 100%;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring2_pick_bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.reverse{
    height:300px;
    width: 100%;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.find{
    height: 300px;
    width: 100%;
    background-image: url(https://www.starbucks.co.kr/common/img/main/store_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    height: 1080px;
    width: 100%;
    background-color: #2C2A29;
}
