/* 유니코드 설정 */
@charset 'utf-8';

/* 전체설정 */

*{
    margin: 0;
    padding: 0;
}
/* 복수로 지정할 때는 , */
ul , ol{
list-style: none;
}
a {
    text-decoration: none;
    color:#000;
}

body{
    height: 3000px;
}

/* 가시속성설정 */
.layout001{
    border:1px solid black;
    margin: 10px;
    padding: 10px;
}
.layout001 li{
    border-bottom: 5px solid yellow;
    margin-bottom: 5px;
    background-image: linear-gradient(90deg, #ccc 50%, #000 0);
background-size: 8px;
background-repeat: no-repeat;
padding-left: 10px;
}


.box001{
    background-color: aquamarine;
    padding: 40px;
}
.box001 span{
    border: 2px solid #000;
    padding:20px;
}
.box001 span:nth-child(1){
    display: inline;
}
.box001 span:nth-child(2){
    display: inline-block;
}
.box001 span:nth-child(3){
    display: block;
}

/* float 속성 */
.layout002{
    border:1px solid black;
    margin: 10px;
    padding: 10px;
}

.box002{
    background-color: aquamarine;
    padding: 40px;
}

/* 부모자에게 해야함 */
.box002:after{
    content: '';
    display: block;
    clear: both;
}

.box002 li{
    border: 1px solid #000;
    padding: 10px;
    float: left;
}

.box002 li:nth-child(5){
    float:right;
}

.box002 li:nth-child(4){
    float:right;
}


/* flex 속성 */

.box003{
    background-color: aquamarine;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

/* space-around 간격 똑같이
space-between 양끝에 맞추어서
*/

.box003 li{
    border: 1px solid #000;
    padding: 10px;
}


/* position 예제 */
.box004{
    background-color: aqua;
    display: flex;
    height: 200px;
    position: relative;
    z-index: 3;
}
/* 3개밖에 없으니까 3써도 됨 */
.box004 p{
    width: 200px;
    height: 200px;
    border:1px solid #000
}
.box004 p:nth-child(1){
    position: relative;
}
.box004 p:nth-child(2){
    position:absolute;
    left: 200px;
    top: 0px;
}
.box004 p:nth-child(3){
    position: fixed;
    top: 0;
    left: 0;
}
.box005{
    background-color: aquamarine;
    height: 500px;
    margin-top: 20px;
    position: relative;
}
.box005 p:nth-child(1){
    width: 200px;
    height: 200px;
    background-color: beige;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}
.box005 p:nth-child(2){
    position:absolute;
    width: 200px;
    height: 200px;
    background-color: skyblue;
    right: 50px;
    bottom: 50px;
}
.box005 p:nth-child(2) span{
    position: absolute;
    top:50%;
    left: 50%;
}

.box005 p:nth-child(3){
    width: 200px;
    height: 200px;
    background-color: lightyellow;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* z-index 속성예제 */

.box006{
    width: 400px;
    height:400px;
    background-color: blanchedalmond;
    position: relative;
}
.box006 p:nth-child(1){
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    z-index: 4;
}
/* 3개 있으니까 4로 써야 올라감 */
.box006 p:nth-child(2){
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    left: 50px;
    top: 50px;
}
.box006 p:nth-child(3){
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: -1;
}
/* 밑에 있는 태그가 자꾸 위로 올라옴 마이너스 1은 부모자 뒤로 숨는다.*/